<section id="content" class="container">
  <div class="block">
    <header class="col3">
      <%= render '/shared/heading_and_subnav' %>
    </header>
    <div class="col6">
      <p>Thank you for your message. We'll be in touch soon.</p>
    </div>
  </div>
</section>
