      <p>This product is now added to your page. We'll send you an email as soon as your order has shipped. Until then, keep doing what you do.</p>
      <p><a href="<%= my_chippd_pages_path %>" class="btn btn-large">Go to your pages. &rarr;</a></p>
