<%= content_for(:heading, "Uh-oh") %>
<p>We're sorry, but there was an error processing your order. Please contact us by phone or email.</p>
<p>Phone: (555) 555-1212<br />
  Email: <a href="#">help@chippd.com</a></p>
    
<p>Our office hours are Monday-Friday, 10am-6pm (EST)</p>