<!--
<div id="uploader_target" data-bind="template: 'uploads'">
  <p style="color: #ccc">Loading...</p>
</div>
-->
<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function () {
      var existing = Chippd.WeddingEvent.fromJS(
        <%= raw @section.events_json %>,
        Chippd.WeddingEvent
      );

        //load existing files for template
        files = JSON.parse('<%= raw @section.events_json %>');

   /*  $("#uploader_target").initMultiUpload(existing, {
        type: Chippd.WeddingEvent,
        min: <%= WeddingEventsWidget::MINIMUM_NUMBER_OF_EVENTS %>
      });
*/
      /*jquery uploader replaced */

      $('#uploader').fileupload({
            // Uncomment the following to send cross-domain cookies:
            //xhrFields: {withCredentials: true},
            url                 : '/documents',
            multiUpload         : true,
            fileInputTemplateId  : 'wedding_multi_upload',
            autoUpload          : false,
            acceptFileTypes     : /(\.|\/)(gif|jpe?g|png)$/i,
            maxFileSize         : 5000000,
            existingFiles       : files
        });

        /*jquery part ends*/
    });
  </script>
<% end %>
<!-- here we add widgetizied file input section iteslf -->

<div class="playlist-container">
  <!-- file input tempalte -->
  <div id="file-input-section">
    <!-- wedding_multi_upload will be repeated...-->
    <p style="color: #ccc">Loading...</p>
  </div>
  <div>
    <!-- ko template: "uploads_footer" --><!-- /ko -->
    <div class="links">
      <a class="add-instance" data-bind="click: addGroomsman" ><span class="icon">+</span><span class="text">add another</span>
      </a>
    </div>
  </div>
</div>
