FORMAT: 1A
HOST: https://api.chippd.com

# Chipp'd API v2

# Group Introduction

The purpose of this API is to provide endpoints for managing customer
authentication and page access for the Chipp'd mobile application.

## Group Schema

All API access is over HTTPS, and the base url for all requests is `api.chippd.com`. All data is sent and received as JSON.

Blank fields are included as null instead of being omitted.

All timestamps will be provided in rfc2822 format:

`Thu, 30 Jun 2011 02:23:58 -0400`

## Group User Identification & Authentication

All requests made to this API must be accompanied by two authentication tokens, one a platform/version-specific application token generated by Crush + Lovely, and the second being specific to the user accessing the API. Authentication is attained by sending both of these tokens via the special request headers `X-Application-Token` and `X-Account-Token` respectively. These tokens must be present the headers of every API request with the exception of the user sign-in method, which is used to attain the account token.

If an API method requires authentication and authentication fails, a `401 Unauthorized` response is returned.

# Group Other Headers

The following other informational headers should be sent along with each
request:

  * `X-Device-Identifier` - The unique identifier of the device sending the request. e.g. on an iPhone, the `uuid`.
  * `X-Device-Platform` - The platform and version of the operating system the device is running.
  * `X-Device-Push-Token` â€“ The token needed to send push notifications if it exists. This would not be sent if a user has opted out of push for our app. We currently support push notifications for iOS and Android.

# Group Customers

## Sign Up [/2/customer]

### Create a new Chipp'd customer account [POST]

+ Request

    + Headers

            X-Application-Token: s3kr3t

    + Body

            {
                "customer" : {
                    "first_name": "John",
                    "last_name": "Doe",
                    "email": "john@doe.com",
                    "password": "s3kr3t",
                    "password_confirmation": "s3kr3t"
                }
            }

    + Schema

            {
                "type": "object",
                "required": true,
                "properties": {
                    "customer": {
                        {
                            "type": "object",
                            "required": true,
                            "properties": {
                                "first_name": {
                                    "type": "string",
                                    "required": true
                                },
                                "last_name": {
                                    "type": "string",
                                    "required": true
                                },
                                "email": {
                                    "type": "string",
                                    "required": true
                                },
                                "password": {
                                    "type": "string",
                                    "required": true
                                },
                                "password_confirmation": {
                                    "description": "Must match the value of password."
                                    "type": "string",
                                    "required": true
                                }
                            }
                        }
                    }
                }
            }

+ Response 201 (application/json)

    + Body

            {
                "customer": {
                    "name": "John Doe",
                    "email": "john@doe.com",
                    "authentication_token": "rya3yxlxLwIF2OHVJBcX2F2e7gqDGzHxmT3v7eD3E0Lu35ox8FKwzXRSQdoz"
                }
            }

+ Response 422 (application/json)

    + Body

            {
                "errors": {
                    "email": ["can't be blank"],
                    "password": ["can't be blank"],
                    "name": ["can't be blank"]
                }
            }

## Sign In [/2/customer/sign_in]

### Sign a Chipp'd customer in [POST]

+ Request

    + Headers

            X-Application-Token: s3kr3t
            X-Account-Token: s3kr3t

    + Body

            {
                "email": "john@doe.com",
                "password": "s3kr3t"
            }

    + Schema

            {
                "type": "object",
                "required": true,
                "properties": {
                    "email": {
                        "type": "string",
                        "required": true
                    },
                    "password": {
                        "type": "string",
                        "required": true
                    }
                }
            }

+ Response 200 (application/json)

    + Body

            {
                "customer": {
                    "name": "John Doe",
                    "email": "john@doe.com",
                    "authentication_token": "rya3yxlxLwIF2OHVJBcX2F2e7gqDGzHxmT3v7eD3E0Lu35ox8FKwzXRSQdoz"
                }
            }

+ Response 401

# Group Pages

## My Pages [/2/pages]

### List all pages the currently authenticated Chipp'd customer has access to. [GET]

+ Request

    + Headers

            X-Application-Token: s3kr3t
            X-Account-Token: s3kr3t

+ Response 200 (application/json)

    + Body

            {
                "pages": [
                    {
                        "name": "Awesome Private Page",
                        "key": "12345",
                        "privacy": "private",
                        "recently_updated": true
                    },
                    {
                        "name": "Awesome Public Page Part Deux",
                        "key": "GHIJK",
                        "privacy": "public",
                        "recently_updated": true
                    },
                    {
                        "name": "Awesome Public Page",
                        "key": "ABCDEF",
                        "privacy": "public",
                        "recently_updated": true
                    }
                ]
            }

## Access a Page [/2/pages/{key}]

+ Parameters
    + key (string, `ABCDE`) ... The key obtained from scanning the QRCode on a Chipp'd product or the `key` attribute in Pages API response (above).

### Access a page that the currently authenticated Chipp'd customer has access to. [GET]

An HTML page. If the currently authenticated customer has access to the page, the page is returned, otherwise an HTML page explaining why they don't have access is returned. The HTTP status code returned by the server also indicates the result of the request.

+ Request

    + Headers

            X-Application-Token: s3kr3t
            X-Account-Token: s3kr3t

+ Response 200 (text/html)

        Page exists and you are allowed to view it.

+ Response 404 (text/html)

        Page does not exist.

+ Response  403

        Page was found, but you do not have permission to view it.

## Leave a Page [/2/pages/{key}/leave]

+ Parameters
    + key (string, `ABCDE`) ... The key obtained from scanning the QRCode on a Chipp'd product or the `key` attribute in Pages API response (above).

### Leave a page that the currently authenticated Chipp'd customer has access to. This will remove the page from the pages returned by the My Pages API. [POST]

+ Request

    + Headers

            X-Application-Token: s3kr3t
            X-Account-Token: s3kr3t

+ Response 200

# Group AWS

## Sign Up [/2/signatures]

### Create a new signed URL for uploading directly to S3. [POST]

+ Request

    + Body

            {
                "file_name": "awesome.jpg",
                "mime_type": "image/jpg"
            }

    + Schema

            {
                "type": "object",
                "required": true,
                "properties": {
                    "file_name": {
                        "type": "string",
                        "required": true
                    },
                    "mime_type": {
                        "type": "string",
                        "required": true
                    }
                }
            }

+ Response 201 (application/json)

    + Body

            {
                "signed_url": "http%3A%2F%2Fs3.amazonaws.com%2Fchippd-test%2Fuploads%2F2014%2F03%2F11%2F03%2F06%2Fd86eea1337e2043da8241d60d32c1c50%2Fawesome.jpg%3FAWSAccessKeyId%3DFAKE%26Expires%3D1394507473%26Signature%3DECO0Oqh%252B87PqA4XJUA1Dxmx2kBU%253D",
                "public_url": "http://s3.amazonaws.com/chippd-test/uploads/2014/03/11/03/06/d86eea1337e2043da8241d60d32c1c50/awesome.jpg"
            }

+ Response 400
