<% if @section.upload_enabled? %>
<div class="uploading">
  <div class="progress progress-success progress-info progress-striped active">
    <div class="bar" style="width: 0;"></div>
  </div>
  <p>Your content is currently being processed. It will automatically be displayed upon completion.</p>
</div>
<% end %>
