<h1 class="sectionHeading">Save the Date</h1>
<h2 class="script">
  <span><%= section.your_name %></span>
  <span class="amp">&amp;</span>
  <span><%= section.fiancee_name %></span>
</h2>
<div class="centeredLabel"><span>are</span></div>
<h3>Getting Married</h3>

<div class="detailList">
  <ul class="grid group">
    <li class="date half"><%= section.date %></li>
    <li class="place half"><%= section.location %></li>
  </ul>
</div>
