<div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h3><%= plural_resource %> CMT</h3>
</div>
<div class="modal-body">
  <p>Here are a few things to know about this CMT:</p>
  <ul>
    <li>The name, short_description, long_description, and fixed_quantity attributes are required.</li>
    <li>The visibility of a <%= singular_resource %> on the front-end of the website can be controlled via the hide/show buttons in the list view.</li>
    <li>Sorting is controlled via drag-and-drop in the list view.</li>
  </ul>
</div>
