<div class="modal hide fade" id="promoVideo">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
  </div>
  <div class="modal-body video">
    <!-- add api=1 parameter to access player functions -->
    <iframe src="https://player.vimeo.com/video/44437858?api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;player_id=chippd-video-player" id="chippd-video-player" width="301" height="169" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
</div>
