<section id="content" class="container basic">
  <div class="block">
    <header class="sub-nav">
      <%= render '/shared/heading_and_subnav' %>
    </header>
    <div class="main">
      <h1><%= @subnav.title %></h1>
      <%= @content.body %>
    </div>
  </div>
</section>