<section id="content" class="container download">
  <div class="block">
    <header class="col4">
      <h1>Downloads</h1>
      <p>You need our mobile app to view Chipp&#8217;d pages. Download it for free on iOS or Android now!</p>
    </header>
    <div class="col4">
    	<div class="well">
    		<a href="<%= ios_application_url %>"><%= image_tag('apple-appstore.png', :alt => "Available on the App Store") %></a>
    		<p>The Chipp&#8217;d app is available for iOS 5+.</p>
    	</div>
    </div>
    <div class="col4 end">
    	<div class="well">
    		<a href="<%= android_application_url %>"><%= image_tag('android-badge.png', :alt => "Available for Android") %></a>
    		<p>The Chipp&#8217;d app is available for Android 4+.</p>
    	</div>
    </div>
  </div>
</section>
