<div class="row">
  <div class="span12">
    <%= paginate collection %>
  </div>
</div>

<%= simple_table_for collection, :with => "#{resource_class}Table", :present_with => CrushTablePresenter %>

<%= paginate collection %>

