<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MSF Patent Database :: Administrative Area</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%= stylesheet_link_tag "admin" %>
  <%= csrf_meta_tags %>
  <style type="text/css" media="screen">
    body {
      padding: 10px;
      margin: 0;
    }
  </style>
</head>
<body>
  <%= @preview %>
</body>
</html>
