<p>Hello <%= @customer.full_name %>,</p>

<p>Congratulations!  You won the auction titled "<%= @auction.title %>."  Check the page for instructions to claim your item.</p>

<p>
Your friend,<br>
Chipp'd
</p>
