<p>Hello <%= @customer.full_name %>,</p>

<p>The auction titled "<%= @auction.title %>" has ended.  You weren't the winner this time, but don't despair - you'll have other opportunities!</p>

<p>
Your friend,<br>
Chipp'd
</p>
