<p>Welcome <%= @customer.full_name %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@customer, :confirmation_token => @customer.confirmation_token) %></p>
