<p>Hello <%= @customer.full_name %>,</p>

<p>Don’t worry, it happens to the best of us.</p>

<p>To reset your password, simply click on the following link and follow the instructions:</p>

<p><%= link_to 'Change my password', edit_password_url(@customer, :reset_password_token => @customer.reset_password_token) %></p>

<p>If you don’t need to reset your password, please ignore this message and nothing will change.</p>

<p>Feel free to <%= link_to 'contact us', contact_us_url %> should you have any questions or concerns. We’re happy to help.</p>

<p>
  Until next time,<br>
  Chipp'd
</p>

