<%= content_for(:heading) do %>
  Email Newsletter
<% end %>

<p>Join our email list to hear from us about new products, events, promos, and contests—we promise not to crowd your inbox.</p>

<form action="https://crushlovely.createsend.com/t/r/s/gswh/" class="form-inline" method="post" id="subForm">
  <input type="text" name="cm-gswh-gswh" id="gswh-gswh" placeholder="Email address" />
  <input type="submit" value="Sign up" class="btn btn-primary btn-large" />
</form>

<%= link_to "Back", :back, :class => "back" %>