<%= content_for(:heading) do %>
  Thanks for subscribing!
<% end %>

<p>Our newsletter isn't like all the rest. We believe that less is more, so you'll only get emails from us containing really important announcements. You won't be spammed on a daily basis or solicited to spend money on endless promotions.</p>
<p>Like a true friend, we'll only be in touch when we've got something meaningful to share.</p>
<p>So, here's to getting know each other, as we strive to bring more joy to lives everywhere by developing more technological twists on traditional gifts.</p>

<a href="<%= root_path %>" class="back">Home</a>