<div class="no-sections-yet">
<% if current_customer.owner?(@page) %>
  <p>You've successfully registered your product. Now, visit chippd.com from your computer to start building your page!</p>
<% else %>
  <p>This page is empty! Please wait for its owner to add some content.</p>
<% end %>
</div>
