<div class="row">
  <div class="span4">
    <div class="push btn-group">
      <%= link_to(new_resource_path, :class => 'btn btn-primary') do %>
        New <%= singular_resource %>
      <% end %>
    </div>
  </div>
  <div class="span8">
    <%= paginate collection %>
  </div>
</div>
